/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* common styles */
body{
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    background-color: white;
    padding-left: 30px;
    border-radius: 5px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
}
.section-gap{
    margin-bottom: 25px;
}
/* ---------------------
    navigation section
------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 0 280px;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 41px;
    height: 51px;
}

.sections ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.sections ul li,a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

/* -------------------------------
    top players and top blogs section 
----------------------------------*/

/* top players */
/* .top-players{
    
} */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
    gap: 15px;
}
.player img{
    width: 56px;
    height: 56px;
}