/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* common styles */
body{
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    background-color: #D1D1D1;
}
.container{
    width: 870px;
    background-color: white;
    padding: 0 30px;
    border-radius: 5px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
}
.section-gap{
    margin-bottom: 25px;
}
/* ---------------------
    navigation section
------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 0 280px;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 41px;
    height: 51px;
}

.sections ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.sections ul li{
    list-style: none;
}
.sections ul li>a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

/* -------------------------------
    top players and top blogs section 
----------------------------------*/

/* top players */
.top-players{
    margin-bottom: 20px;   
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
    gap: 15px;
}
.player img{
    width: 56px;
    height: 56px;
}

/* bolgs */
.top-blogs{
    padding-bottom: 50px;
}
.section-title h2{
    margin-top: 15px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
}
.blog{
    display: flex;
    gap: 15px;
    align-items: center;
}
.thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info a{
    text-decoration: none;
}

/* courses section */
.lates-courses{
    padding-bottom: 50px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course{
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 253px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 0px rgb(0 0 255 / 20%);
}
.course-des img{
    width: 224px;
    height: 104px;
}
.course-des h3{
    margin-bottom: 0px;
}
.course-des small{
    color: deeppink;
    margin: 5px 0;
}

.course-info{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.ratings .filled{
    color: orange;
}
.duration{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color:#FFE4E8;
    padding: 2px 5px;
    border-radius: 20px;
    color: #fa657c;
}
.duration p{
    margin: 0;
}




/*------------------------
     media query responsive 
----------------------------*/

/* mobile responsive */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    nav, .logo, .sections ul{
        flex-direction: column;
        align-items: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    /* .blogs, .courses, hr{
        display: none;
    } */
}

/* tablet responsive */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    nav{
        padding: 0 20px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}
